/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f5f5f6;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-yellow: #fff7d1;
  --color-orange: #f35f2c;
  --color-yellow: #f2d038;
  --color-black: #000000;
  --color-background: #02020e;
  --color-backgroundTransparency: rgba(45, 45, 52, 0.5);

  /* Font size */
  --font-huge: 64px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 200ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

@font-face {
  src: local("Sofia Pro"), url("./font/sofiaPro/Sofia\ Pro\ Bold\ Az.otf");
  font-family: "sofia_probold";
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--color-light-white);
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
  color: var(--color-light-white);
  margin: 30px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-light-white);
  margin: 25px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-light-white);
  margin: 25px 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-light-white);
  margin: 20px 0;
}

canvas {
  z-index: -99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  color: var(--color-light-white);
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: var(--color-background);
}

/*  Section common  */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  width: 70%;
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
}

/*  Navbar  */
.navbar {
  position: sticky;
  width: 100%;
  height: 110px;
  display: flex;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  font-family: "Inconsolata", monospace;
  line-height: 30px;
  letter-spacing: 0.5rem;
  display: flex;
  font-weight: 700;
  flex-basis: 15%;
  text-transform: uppercase;
  font-size: var(--font-regular);
}
.navbar__logo a {
  margin: auto;
  padding: 10px;
}
.navbar__logo a:hover {
  color: var(--color-orange);
}

.navbar__guide {
  flex-basis: 70%;
  max-width: 1310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar__guide img {
  height: 50px;
}

.navbar__guide > .navbar__rocket {
  height: 30px;
  position: absolute;
  left: 50px;
}

/*  Aside  */
.aside {
  font-family: "sofia_probold";
  position: fixed;
  top: 0;
  right: 0%;
  width: 15%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.aside__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 100px;
}

.aside_menu_item {
  cursor: pointer;
  font-size: var(--font-regular);
}

.aside_menu_item:hover {
  color: var(--color-blue);
}

.aside_menu_item.view {
  color: var(--color-orange);
}

.aside__smpchat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aside__smpchat_icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.aside__smpchat_icon:hover {
  transform: scale(1.2);
  transition: all var(--animation-duration) ease;
}

.aside__menu__btn {
  font-size: var(--font-regular);
  color: var(--color-light-white);
  display: none;
  margin: 0 auto;
  width: 30px;
  justify-content: center;
  flex-direction: column;
  flex-basis: 10%;
}

/*  Home  */
.home {
  background-color: var(--color-backgroundTransparency);
  border-radius: 15px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.home img {
  height: 300px;
  margin: 25px;
  border-radius: 20px;
}

.home__title {
  font-weight: 100;
  letter-spacing: 0.5rem;
}

.home__dscription {
  letter-spacing: 0.125em;
  font-size: var(--font-micro);
  line-height: 30px;
}

/*  About  */

.about p {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Nanum Gothic Coding", monospace;
  color: var(--color-dark-white);
  font-weight: 100;
  line-height: 25px;
}

.about__title {
  width: 20em;
  height: 120px;
  line-height: 130px;
  border-bottom: 5px solid var(--color-dark-white);
  margin: auto;
}

.about__title h1 {
  font-weight: var(--weight-regular);
}

.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.about_jobs {
  display: flex;
  flex-direction: column;
}

.job {
  text-align: center;
  display: flex;
  background-color: var(--color-backgroundTransparency);
  border-radius: 15px;
  padding: 25px 15px 25px 15px;
  justify-content: space-around;
}

.job > ul {
  line-height: 35px;
  text-align: left;
}

.job > ul > li {
  color: var(--color-dark-white);
  font-size: var(--font-micro);
}

.job > ul > li > span {
  color: var(--color-dark-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

.about__jobImg {
  max-width: 110px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 5%;
}

.job__logo {
  max-width: 100%;
  max-height: 100%;
}

.major__icon {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-huge);
  background-color: var(--color-backgroundTransparency);
  margin: auto;
  border: 1px solid var(--color-light-white);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon:hover i {
  color: var(--color-orange);
  transform: scale(1.2);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

/*  skills  */
.skills__title {
  width: 20em;
  height: 120px;
  line-height: 130px;
  border-bottom: 5px solid var(--color-dark-white);
  margin: auto;
}

.skills > h2 {
  margin-top: 40px;
}

.skills > p {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Nanum Gothic Coding", monospace;
  color: var(--color-dark-white);
  font-weight: 100;
  line-height: 25px;
}

.skillset {
  background-color: var(--color-backgroundTransparency);
  border-radius: 15px;
  padding: 30px;
  display: flex;
}

.skillset__title {
  margin: 15px 0 30px 0;
  font-weight: 700;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.skillset__left {
  flex-basis: 70%;
}

.skill {
  padding: 10px;
}

.skillset__right {
  flex-basis: 30%;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-grey);
}

.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}

.tools__list li {
  padding: 20px;
}

/*  Work  */
.work__title {
  width: 20em;
  height: 120px;
  line-height: 130px;
  border-bottom: 5px solid var(--color-dark-white);
  margin: auto;
}

.work > h2 {
  margin-top: 40px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work__projects h2 {
  width: 100%;
  margin: 35px 0;
}

.work__projects > h2:after {
  content: "";
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -25px;
  margin-top: 15px;
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--color-white);
}

.work__projects > .work__backend {
  width: 220px;
  height: 220px;
}

.project {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.project:hover .projcet__description {
  opacity: 0;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.projcet__description {
  position: absolute;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  transition: all var(--animation-duration) ease-in;
  border-radius: 50%;
}

.projcet__description h3 {
  padding: 0.5rem;
  font-weight: var(--weight-bold);
  margin: 0;
}

.projcet__description span {
  margin-top: 10px;
  padding: 0.5rem;
  font-size: var(--font-small);
}

/*  Contact  */

.contact > h2 {
  margin-top: 40px;
}

.contact__title {
  width: 20em;
  height: 120px;
  line-height: 130px;
  border-bottom: 5px solid var(--color-dark-white);
  margin: auto;
}

.contact__container {
  background-color: var(--color-backgroundTransparency);
  border-radius: 15px;
  padding: 60px 50px;
  margin-top: 30px;
  margin-bottom: 55px;
  display: flex;
}

.contact__guide {
  margin-top: 55px;
  margin-bottom: 55px;
  font-family: "Nanum Gothic Coding", monospace;
  color: var(--color-dark-white);
  font-weight: 100;
  line-height: 25px;
}

.contact > p > span {
  color: var(--color-orange);
  font-weight: bold;
}

.contact__email {
  flex-basis: 50%;
  height: 220px;
}

.contact__email a:hover i {
  transform: scale(1.2);
  transition: all var(--animation-duration) ease;
}

.contact__container h2::after {
  content: "";
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -25px;
  margin-top: 15px;
  display: block;
  width: 50px;
  height: 3px;
  background-color: var(--color-white);
}

.contact__links {
  flex-basis: 50%;
  height: 220px;
}

.contact__links a:hover i {
  transform: scale(1.2);
  transition: all var(--animation-duration) ease;
}

.contact__container a i {
  font-size: var(--font-large);
  margin: 15px 0;
}

.contact__rights {
  margin: 0;
}

@media screen and (max-width: 768px) {
  /*  Section common  */
  .section {
    padding: 15px;
    width: 90%;
  }

  /* Universal tags */
  h1 {
    font-size: var(--font-medium);
  }

  h2 {
    font-size: var(--font-regular);
  }

  h3 {
    font-size: var(--font-small);
  }

  p {
    font-size: var(--font-micro);
  }

  a {
    font-size: var(--font-micro);
  }

  /*  Navbar  */
  .navbar {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90px;
  }

  .navbar__logo {
    padding: 0;
    line-height: 25px;
  }

  .navbar__logo a {
    padding: 0;
  }

  .navbar__guide {
    display: none;
  }

  /*  aside  */
  .aside {
    padding-top: 0;
    width: 100px;
    align-items: center;
  }

  .aside.active {
    top: 0;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .aside__menu {
    display: none;
    animation-duration: var(--animation-duration);
    animation-name: menuSlide;
  }

  @keyframes menuSlide {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0px);
    }
  }

  .aside__menu.active {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-basis: 80%;
    font-size: var(--font-small);
    padding: 0;
    height: 0;
    margin: 0;
  }

  .aside__menu__btn {
    display: flex;
    width: 50px;
    align-items: center;
    flex-basis: 50px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
  }

  .aside__smpchat {
    position: absolute;
    bottom: 25px;
    right: 32%;
  }

  .aside.active > .aside__smpchat {
    position:static;
    margin-bottom: 25px;
  }

  .aside__smpchat img {
    width: 35px;
    height: 35px;
  }

  /*  Home  */
  .home {
    padding: 60px 0;
  }

  .home__title {
    font-size: var(--font-medium);
    margin-bottom: 45px;
  }

  .home img {
    margin: 0;
  }

  .home__dscription {
    margin-top: 80px;
  }

  /*  About  */
  .about__title {
    width: 15em;
  }

  .job {
    flex-direction: column;
  }

  .job ul {
    line-height: 25px;
  }

  .about__jobImg {
    max-width: 80px;
    margin: 5px auto 10px auto;
  }

  .major__title {
    font-size: var(--font-regular);
  }

  .major__description {
    font-size: var(--font-micro);
  }

  .major__icon {
    width: 80px;
    height: 80px;
    font-size: var(--font-large);
  }

  /*  Skills  */

  .skills__title {
    width: 15em;
  }

  .skillset {
    padding: 15px;
    flex-direction: column;
  }

  .skills > p {
    margin: 25px 0;
  }

  .tools__list li {
    padding: 5px;
  }

  /*  Work  */

  .work__title {
    width: 15em;
  }

  .work__projects > .work__backend {
    width: 180px;
    height: 180px;
  }

  .project {
    width: 160px;
    height: 160px;
  }

  .projcet__description span {
    font-size: var(--font-micro);
  }

  /*  Contact  */
  .contact__title {
    width: 15em;
  }

  .contact__container {
    padding: 25px 15px;
    flex-direction: column;
    margin-bottom: 35px;
  }

  .contact__guide {
    margin: 35px 0;
  }

  .contact__rights {
    margin-bottom: 25px;
  }
}
