/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f5f5f6;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-yellow: #f2d038;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 200ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
@font-face {
  src: url("/src/public/font/sofiaPro/Sofia\ Pro\ Bold\ Az.otf");
  font-family: "sofia_probold";
}

ul {
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0;
}

canvas {
  z-index: -99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
}

/*  Section common  */
.section {
  padding: 50px;
  text-align: center;
  max-width: 70%;
  margin: auto;
}

/*  Navbar  */
#navbar {
  max-width: 1600px;
  position: fixed;
  width: 100%;
  height: 100%;
}
.navbar__logo {
  text-align: left;
  font-family: "Inconsolata", monospace;
  line-height: 30px;
  letter-spacing: 0.5rem;
  font-weight: 700;
  position: absolute;
  left: 5%;
}
.navbar__logo:hover a {
  color: var(--color-yellow);
}
.navbar__menu {
  text-align: right;
  font-family: "sofia_probold";
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.navbar__menu li {
  cursor: pointer;
}
.navbar__menu li:hover {
  color: var(--color-yellow);
}
.navbar__menu > li > img {
 
}
/*  About  */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  background-color: var(--color-dark-grey);
  margin: auto;
  border: 1px solid var(--color-light-white);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon:hover i {
  color: var(--color-pink);
  transform: scale(1.2);
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}
